/* CarouselFadeExample.css */

.carousel-fade .carousel-item {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.carousel-fade .carousel-item.active {
  opacity: 1;
}

/* Default styles for all screen sizes */
.carousel-item img {
  max-width: 100%;
  height: 80vh;
  display: block;
  margin: 0 auto;
  /* Center the image within the carousel item */
}

/* Media query for mobile devices (up to 767px) */
@media (max-width: 438px) {
  .carousel-item img {
    height: 40vh; /* Adjust height for mobile devices */
  }
}
/* Media query for tablets (768px - 991px) */
@media (min-width: 438px) and (max-width: 768px) {
  /* You can add specific styles for tablets here if needed */
  .carousel-item img {
    height: 50vh; /* Adjust height for mobile devices */
  }
}

/* Media query for tablets (768px - 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  /* You can add specific styles for tablets here if needed */
  .carousel-item img {
    height: 60vh; /* Adjust height for mobile devices */
  }
}

/* Media query for desktop devices (992px - 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
  /* You can add specific styles for desktop devices here if needed */
  .carousel-item img {
    height: 80vh; /* Adjust height for mobile devices */
  }
}


form{
  color: black;
}