@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
}

.whatsapp {
  display: flex;
  align-items: center;
  transition: transform 0.3sec ease-in-out;
  /* border-radius: 10px 10px 10px 10px; */
  border: none;
  background-color: transparent;
  font-size: xx-large;
  padding: 10px;
  margin-left: -20px;
}

.whatsapp-container {
  position: fixed;
  top: 70%;
  left: calc(100% - 60px);
  list-style-type: none;
  padding: 0;
  transform: translateY(-50%);
  width: 250px;
  z-index: 10;
}

.whatsapp-container {
  animation: wiggle 2s linear infinite;
}

.whatsapp-container {
  /* border-radius: 0 0 0.2em 0.2em; */
  color: #fff;
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 1em;
  transform-origin: 50% 5em;
}

.phonecall {
  display: flex;
  align-items: center;
  transition: transform 0.3sec ease-in-out;
  /* border-radius: 10px 10px 10px 10px; */
  /* background-color: rgb(230, 240, 230); */
  background-color: blue;
  border-radius: 50%;
  border: none;
  font-size: 23px;
  color: white;
  padding: 10px;
}

.phone-container {
  position: fixed;
  top: 80%;
  left: calc(100% - 67px);
  list-style-type: none;
  padding: 0;
  transform: translateY(-50%);
  width: 250px;
  z-index: 10;
}

.phone-container {
  animation: wiggle 2s linear infinite;
}

.phone-container {
  border-radius: 0 0 0.2em 0.2em;
  color: #fff;
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 1em;
  transform-origin: 50% 5em;
}

.chatbot {
  display: flex;
  align-items: center;
  transition: transform 0.3sec ease-in-out;
  border-radius: 10px 10px 10px 10px;
  background-color: rgb(230, 240, 230);
  font-size: xx-large;
  color: green;
  padding: 10px;
}

.chatbot-container {
  position: fixed;
  top: 60%;
  left: calc(100% - 60px);
  list-style-type: none;
  padding: 0;
  transform: translateY(-50%);
  width: 250px;
  z-index: 10;
}

.chatbot-container {
  animation: wiggle 2s linear infinite;
}

.chatbot-container {
  border-radius: 0 0 0.2em 0.2em;
  color: #fff;
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 1em;
  transform-origin: 50% 5em;
}

/* FOR BLOG PAGE */
.blog-container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #f5f5f5;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
  position: relative;
}

.header img {
  width: 100%;
  height: auto;
  display: block;
}

.header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: white;
  font-size: 32px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  border-radius: 5px;
}

.content {
  padding: 20px;
}

.content p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}
strong {
  font-size: 40px;
}
.carousel-caption {
  position: relative;
  top: 25%;
  right: -90%;
  color: #fff;
  text-align: center;
}

.bot-container {
  position: fixed;
  top: 62%;
  right: calc(100% - 23%);
  list-style-type: none;
  padding: 0;
  transform: translateY(-50%);
  z-index: 10;
}
.interiorImage {
  height: "70vh" !important;
  width: "80vw" !important;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .bot-container {
    top: 80%; /* Adjust as needed */
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 90%; /* Adjust as needed */
  }
  .interiorImage {
    height: 27vh;
  }
  .col-3 {
    width: 49% !important;
  }
}

@media screen and (max-width: 576px) {
  .bot-container {
    top: 90%; /* Adjust as needed */
    width: 95%; /* Adjust as needed */
  }
  .interiorImage {
    height: 27vh;
  }
}

.social:hover {
  transition: 0.3s ease;
  transform: translateY(-4px);
}

@import url(//fonts.googleapis.com/css?family=Montserrat:300, 400, 500);
.team1 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.team1 h1,
.team1 h2,
.team1 h3,
.team1 h4,
.team1 h5,
.team1 h6 {
  color: #3e4555;
}

.team1 .font-weight-medium {
  font-weight: 500;
}

.team1 .bg-light {
  background-color: #f4f8fa !important;
}

.team1 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.team1 .pro-pic {
  min-height: 200px;
}

.team1 .pro-pic .card-img-overlay {
  background: rgba(26, 139, 243, 0.87);
  display: none;
}

.team1 .pro-pic .card-img-overlay ul {
  top: 50%;
}

.team1 .pro-pic .card-img-overlay ul li a {
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

/* .team1 .pro-pic .card-img-overlay ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
}

.team1 .pro-pic:hover .card-img-overlay {
  display: block;
} */
.carousel-image {
  position: relative;
  overflow: hidden;
}

.responsive-image {
  width: 100%;
  height: auto;
}

/* For small devices (mobile view), set the image height to 300px */
@media only screen and (max-width: 600px) {
  .carousel-image {
    height: 270px;
  }
}

/* For larger devices, set the image height to 90vh */
@media only screen and (min-width: 601px) {
  .carousel-image {
    height: 90vh;
  }
}
